/** @format */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

:root {
  --font-1: "Kanit", sans-serif;
  --font-2: "Roboto Condensed", "sans-serif";
  --font-content: "Kanit", sans-serif;
  --logo: #0a0a6f;
  --nav-text: #06064d;
  --con-h-t: #0a0a6f;
  --con-p-t: #040450;
  --btn-btn: #f47754;
}

#container {
  width: 100%;
  /* background-color: #ffffff; */
  padding: 5px;
}
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-1);
  margin: 0px 20px;
}
.logo h2 {
  margin: 15px 25px;
  color: #0a0a6f;
}

.navBar {
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: bolder;
  color: var(--nav-text);
  display: flex;
  align-items: center;
}
.navBar ul {
  display: flex;
  gap: 40px;
}
.navBar ul li {
  transition: 1s;
}
.navBar ul li,
a {
  list-style-type: none;
  text-decoration: none;
}
.navBar ul li:hover {
  transform: scale(1.2);
}
.toggle {
  margin: 0px 10px;
  width: 45px;
  height: 24px;
  border: 2px solid black;
  border-radius: 11px;
  position: relative;
  background-color: #f12727;
}
#toggle {
  border-radius: 50%;
  position: absolute;
  top: 1.5px;
  transition: 0.2s;
}
/* --------------------------------------------------- */
.content_container {
  font-family: var(--font-content);
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0px 20px;
}

.content_left {
  position: relative;
  top: 11rem;
  margin: 0px 20px;
}
.content_left h2 {
  color: var(--con-h-t);
  font-weight: bolder;
  position: relative;
  top: -2rem;
  font-size: 2em;
}
.content_left p {
  line-height: 1.5;
  font-size: 1.2em;
  color: var(--con-h-t);
}
.content_btn {
  padding: 12px 60px;
  border-radius: 30px;
  margin: 40px 14px;
  background-color: var(--btn-btn);
  color: #ffffff;
  border: none;
}
.content_btn:hover {
  background-color: #f3633c;
}
.content_btn_2 {
  background-color: #f47754;
}
.char_svg {
  position: relative;
  top: 3em;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0px 15px;
  position: relative;
}
#toggle {
  padding: 8px;
  position: absolute;
  top: 1px;
}
/* ----------- JS ----------- */

.navBar_visible,
/* .navBar_visible *:not() */
.navBar_visible *:not(.content_btn,.toggle) {
  background-color: black;
  color: #ffffff !important;
}

.navBar_visible .logo svg path {
  filter: invert(1);
}
.navBar_visible #toggle {
  background-color: #ffffff;
}
.navBar_visible #change_icon img {
  /* filter: invert(1); */
}
.active {
  background-color: green;
  border: 1.5px solid black;
}
.on {
  transform: translateX(24px);
  top: 2px;
}
/* ----------       JS END         ----------------- */
